<h2>Search Results</h2>

<div *ngFor="let product of productResults | async" class="ub-product">
 <p *ngIf="product.availableCount" class="ub-product-count">
    {{ product.availableCount }}
  </p>

    <a [title]="product.productDetails.name + ' details'" class="ub-product-title">
      {{ product.productDetails.name }}
    </a>


  <p *ngIf="product.productDetails.deptName" class="ub-product-info">
    Deptartment Name: {{ product.productDetails.deptName }}
  </p>

    <p *ngIf="product.location.name" class="ub-product-info">
    Location: {{ product.location.name }}
  </p>
      <p *ngIf="product.location.zipCode" class="ub-product-info">
    ZIP: {{ product.location.zipCode }}
  </p>

</div>